
body{background-color: #34495e;}

.grid-container{
    display: grid;
    grid-template-areas:
    "s1 s1 s1" 
    "hd hd hd"
    "s2 s2 s2"
    "ss ss ss"
    "s3 s3 s3"
    "tt tt tt";
    grid-template-columns:7.5% 85% 7.5% ;
    grid-template-rows:2.5% 20% 2.5% 50% 2.5% 20%;
    height:100vh;
}

.space1{
    grid-area: s1;

}
.header {
    grid-area: hd;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    background-color: aliceblue;
    padding-left: 10px;
    height: 100%;
    
}

.logo-and-buttens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

nav{
    margin-left: auto;
    display: flex;
    padding-right: 10px;
}

.nav-button{
    margin-left: 20px;
    background-color:#f39c12 ;
    color: white;
    border: #34495e;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    
}
.space2{
    grid-area: s;
}

.slideshow {grid-area: ss;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}

.space3{
    grid-area: s3;
    
}

.text{
    grid-area: tt;
    background-color: aliceblue;
    text-align: center;
    color: black;
    padding: 10px;
}