
body{background-color: #34495e;
font-family: Arial, sans-serif;

}

.grid-container{
    display: grid;
    grid-template-areas:
    "s1 s1 s1" 
    "hd hd hd"
    "s2 s2 s2"
    "ss ss ss"
    "s3 s3 s3"
    "tt tt tt";
    grid-template-columns:7.5% 85% 7.5% ;
    grid-template-rows:2.5% 20% 2.5% 50% 2.5% 20%;
    height:100vh;
}

.space1{
    grid-area: s1;

}
.header {
    grid-area: hd;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    background-color: aliceblue;
    padding-left: 10px 20px;
    justify-content: space-between;
    
}

.logo-and-buttens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

nav{
    display: flex;
    padding-right: 10px;
}

.nav-button{
    margin-left: 20px;
    background-color:#f39c12 ;
    color: white;
    border: #34495e;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    
}
.space2{
    grid-area: s;
}

.slideshow {
    grid-area: ss;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    color: black;
}

.myslide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.text{
    grid-area: tt;
    background-color: aliceblue;
    text-align: center;
    color: black;
    padding: 10px;
}

.numbertext{

position: absolute;
top: 10px;
left: 10px;
color: white;
background-color: rgb(0, 0, 0, 0.5);
padding: 5px 10px;
border-radius: 5px;
    
} 
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translatey(-50% );
    padding: 10px;
    font-size: 18px ;
    color: wheat;
    font-weight: bold;
    background-color:(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.dot {
width: 15px;
height: 15px;   
background-color: rgba(255, 255, 255, 0.5);
border-radius: 50%; 
display: inline-block;
cursor: pointer;
}

.dot.active{
background-color: white;
}

.space3{
    grid-area: s3;
    
}

.grid {
    grid-area: ss;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding: 20px;
    flex-grow: 1;
}

.box{
background-color: #2c3e50;
border-radius: 8px;
padding: 20px;
text-align: center;
font-size: 19px;
flex: 1 1 calc(30% - 20px);
max-width: calc(30% - 20px);

.box:hover {
    background-color: white
}


}